*{
font-family: sans-serif;
}
body {
    background-color: #24353F;
}
.login {
    
        box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
 
    
}
.login h1 {
    color: #17a2b8;
}
input {
    color: #fff !important;
}

input::placeholder {
    color: rgb(182, 182, 182) !important;
}
input:focus {
    box-shadow: 0 0 0 0 transparent !important;
}
.navbar {
background-color: #24353F !important;
box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.nav-link {
    border: 1px solid #FFC107;
    color: rgb(182, 182, 182);
}
.welcome {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    color: #17a2b8;
}